
<html>
  <head></head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>

    
    <% if guess %>
      <h1><%= message %></h1>
      <p>Your guess is <%= guess %></p>     
      <p>The SECRET NUMBER is <%= secret_number %></p>     
    <% end %>
  </body>
</html>
